*{
  margin: 0;
  padding: 0;
  font-style: sans-serif;
}

.container{
  height: 100vh;
  width: 100%;
  background-image: url("../images/image.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.navbar{
  width: 88%;
  margin: auto;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}
.navbar ul li a {
  text-decoration: none;
  font-size: 15px;
  color: #5f5f5f;

}
#logo{
  cursor: pointer;
  width: 140px;
}
.content{
  width: 100%;
  position: absolute;
  top: 30%;
}
.left-content{
  margin-left: 6%;

}

.left-content h1{
  font-size: 90px;
  color: #fff;
  line-height: 110px;
  float: left;
}
.right-content{
  float: right;
  margin-right: 6%;
  margin-top: 120px;
  display: flex;
  align-items: center;
}
.right-content p{
  font-size: 24px;
  font-weight: 500;
  color: #5f5f5f;
  margin-right: 20px;
}

#icon{
  cursor: pointer;
}
